:root {
    --title-color: rgb(255, 103, 210);
    --text-color: #bfccc9;
    --border-style: dashed;
    --border-radius: 10px;
    --title-text-font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif --code-text-font: monospace;
    /* --generic-border: 2px dashed black; */
    --widget-title-position: 17px;
}

/* border: var(--generic-border) */
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #31393f;
    border: var(--generic-border);
}

header,

footer {
    color: var(--title-color);
    border: var(--generic-border);
    padding: 20px;
    margin: 5px;
    text-align: center;

}

section {
    color: var(--title-color);
    border: var(--generic-border);
    padding: 20px;
    margin: 1%;
    width: 85%;
    text-align: center;
}

.main-snippet-container {
    color: var(--title-color);
    width: 95%;
    height: 300px;
    padding: 2%;
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    border: 2px solid black;
    align-items: center;

}



.snippet-widget-interior {

    border: 2px solid black;
    width: 33%;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 95%;
    border-radius: 10px
}


.widget-title {
    position: flex;
    padding: 3%;
    align-items: center;
    border-radius: 10px;
    border: 2px solid black;
}

.widget-instructions {
    border: var(--generic-border);
    margin: auto;
    flex: 1 3;
    width: 95%;
    height: 25%;
    text-align: center;
    padding-top: 30px;
    font-size: xx-small;
    color: var(--text-color)
}

.widget-code {
    /* border: var(--generic-border); */
    margin: 5%;
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: center;
    flex: 4 1;
    width: 95%;
    border-radius: var(--border-radius);
    color: #cec8cd;
    background-image: linear-gradient(#8e4972, gray);
    font-family: var(--code-text-font);
    font-size: x-small;
}

.widget-code code {
    padding-left: 10%;
}

@media screen and (max-width: 768px) {}
